body {
    text-align: center;
    margin-top: 50px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#results,
#correct-answers,
#incorrect-answers {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results p,
#correct-answers p,
#incorrect-answers p {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

#results p {
    color: #28a745;
    font-weight: bold;
}

#correct-answers p {
    color: #28a745;
    font-weight: bold;
}

#incorrect-answers p {
    color: #dc3545;
    font-style: italic;
}
